<!DOCTYPE html>
<html  lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Login/SimpleChat</title>
</head>
<body>
    <h1>Log in to SimpleChat</h1>

    <form method="post" action="/login" th:object="${loginForm}">
        <table>
            <tr>
                <td>
                    <label>Login ID</label>
                    <div class="error" th:each="error: ${#fields.errors('loginId')}">
                        [[ ${error} ]]
                      </div>
                </td>
                <td>
                    <input type="text" required th:field="*{loginId}">
                </td>
            </tr>

            <tr>
                <td>
                    <label>Password</label>
                    <div class="error" th:each="error: ${#fields.errors('password')}">
                        [[ ${error} ]]
                      </div>
                </td>
                <td>
                    <input type="password" required th:field="*{password}">
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <p class="error">[[${loginFailedMessage}]]</p>
                    <button type="submit">Log in</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>